// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	font: 400 25px Helvetica,Arial,sans-serif;
    letter-spacing: -.05em;
    line-height: 20px;
    margin: 10px 0 30px;
    text-align: left;
}

body {
	background-color: #f7f7f7 !important;
	height: 100% !important;
	display: table;
	margin-left: auto !important;
	margin-right: auto !important;

}

html {
	height: 100% !important;
}

div.container.body {
	display: table-cell;
	vertical-align: middle;
}

#wrapper {
	margin-top: 0px !important;
}

.login_content {
	padding: 0px !important;
}

#register, #login {
	position: relative !important; 
}