#nprogress {
	display: none !important;
}

body {
	text-align: center;
    background-color: #f7f7f7 !important;
}

h2 {
    font: 400 25px Helvetica,Arial,sans-serif !important;
    letter-spacing: -.05em !important;
    line-height: 20px !important;
    margin: 10px 0 30px !important;
}